@font-face{
  font-family:"Museo 300";
  src:url(../fonts/MuseoSansRounded-300.otf) format("opentype")
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 15px;
  line-height: 1.6;
  font-family:  'Source Sans Pro',Arial,'Helvetica Neue',Helvetica,sans-serif;
  color: #444;
  background: #F7F7F7;
  margin:0;
}

h1,h2, h3 {
  font-family: "Museo 300",Arial,'Helvetica Neue',Helvetica,sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
  margin-top: 30px;
}

h3 {
  font-size: 15px;
  margin-top: 30px;
}

a, a:visited {
  color: #888;
  text-decoration: none;
}

a:hover {
  color: #aaa;
}

a:active {
  color: #444;
}


/* NAVIGATION  */

.navigationWrapper{
  width:15%;
  position: fixed; 
  height: 100%; 
  float: left;
  background: #fafcfc;
}

.navigation{
    padding-left: 20px;
    overflow-y: scroll;
    position: absolute;
    height: 100%;
    width: 100%;
}

.navigation a, .navigation a:visited {
  color: #0A202D;
}

.navigation a:hover {
  color: #34A1CA;
}

.navigation a:active {
  color: #444;
}

.navigation li .activeLink{
      color: #0099e5;
}

.navigation p {
  color: #939da3; 
  margin:25px 0px 0px;
}

.navigation ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.navigation li {
  padding: 3px 0;
}


/*  MAIN  */

.mainWrapper{
  left: 15%;
  width: 100%;
  position: fixed;
  overflow-y: auto;
  height: 100%;
}

.main{
  position: relative;
  width: 85%;
  left:0%;

}

/*  MAIN BACKGROUND (create two fixed columns at z = -1 white on the left and grey on the right)  */

.main-background{
  position:absolute;
  z-index: -1;
  height: 100%;
  width:85%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

.left-background{
  z-index: -1;
  background: white;
  width: 45%;
  
  -ms-flex: 0 45%;
  -webkit-box-flex:  0;
  -moz-box-flex:  0;
  -ms-box-flex:  0;
  box-flex:  0; 
}

.right-background{
  z-index: -1;
  background: #2d3134;
   -ms-flex: 1;
   -webkit-box-flex: 1;
   -moz-box-flex: 1;
   -ms-box-flex: 1;
   box-flex: 1; 
}

/*  GRID  */

.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Grid-top {
  align-items: flex-start;
}

.Grid-left {
  display: flex;
  width:45%;
  background-color: white;
  
}

.Grid-right {
  display: flex;
  width:55%;
  background-color:#2d3134;
}

.Grid-inside{
  padding: 40px;
  width: 100%;
}

/* COLUMNS */

.columnCenter, .columnCenter:before {
    width:45%;
}

.columnCenter{ 
  float: left;
}

.columnCenter:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0%;
    background-color: white;
}

.columnRight, .columnRight:before {
    width:55%;
}

.columnRight{
  float: left;
  background-color:#2d3134;
}

.columnRight:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 45%;
    background-color: #2d3134;
}

.text-right{
  color: #d0d4d7;
}

.code{
  font-size:13px;
  font-family: 'Consolas', "Liberation Mono", Menlo, Courier, monospace;
  border-radius: 5px;
  background: #282b2c;
  padding: 20px;
}

.request{
  background:#fafcfc;
  color:  #444;
  padding: 15px;
}

.tableCard{
  background: #fafcfc;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 12px
}



