/* content
 */

.main > .Grid {
  min-height: 100%;
}

/* Grid */
.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  &-right {
    display: flex;
    width: 55%;
    background-color: #2d3134;
  }
  &-left {
    display: flex;
    width: 45%;
    background-color: white;
  }
  &-inside {
    padding: 40px;
    width: 100%;
  }
  &-top {
    align-items: flex-start;
  }
}

/* Columns */

.columnCenter {
  float: left;
  &, .columnCenter:before {
    width: 45%;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0%;
    background-color: white;
  }
}

.columnRight {
  float: left;
  background-color: #2d3134;
  &, .columnRight:before {
    width: 55%;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 45%;
    background-color: #2d3134;
  }
}

.code {
  font-size: 13px;
  font-family: 'Consolas', "Liberation Mono", Menlo, Courier, monospace;
  border-radius: 5px;
  background: #282b2c;
  padding: 20px;
  color: #FFF;
}

.tableCard {
  /*background: @light_blue;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 12px;*/
}
