/* content
 */

.content {
  float: left;
  width: 84%;
  height: 100%;
  padding: 2.4em;
  overflow: auto;
  background: linear-gradient(to right, #fff 0%, #fff 45%, #4e5764 45%, #4e5764 100%);
}

.content-block {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.content-block-details,
.content-block-request {
  display: table-cell;
}

.content-block-details {
  width: 45%;
  padding-right: 2em;
}

/* prevent the details columns from taking up the full width,
 * when we don't have the request block.
 */
.content-block-details:first-child:nth-last-child(1) {
  display: block;
}

.content-block-request {
  padding-left: 2em;
}

.code {
  font-size: 13px;
  font-family: 'Consolas', 'Liberation Mono', Menlo, Courier, monospace;
  border-radius: 5px;
  background: #282b2c;
  padding: 20px;
  color: #FFF;
}

/* TODO deprecate tablecard with the new table design
 */
.tableCard {
  /*background: @light_blue;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 12px;*/
}
