// 1) - Colors
// ---------------------------
// design
$dark:       #25262F
$navy:       #2F303B

$marine:     #141D67
$blue:       #3057FF
$sky:        #98BAEC
$pale:       #E9F2FE

$topaz:      #66B3EE
$orange:     #FF9B53
$rose:       #FA2772

// primary
$white:      #FFFFFF
$black:      #000000
$gray:       #939393

$gray-light: lighten($gray, 30%)

// basics
// $green:  #3FDD66
// $red:    #FF5654
// $blue:   #006CFF
// $yellow: #FFD300

// social media
$facebook: #1062b4
$twitter:  #23a9d1



// BASE CONFIG
// ------------------------------------------------------
// default page background
$base-bg: white
$dt-fw:   normal

$lnk-color:            $marine
$lnk-decoration:       underline
$lnk-hover-color:      $blue
$lnk-hover-decoration: underline


// TYPOGRAPHY
// ------------------------------------------------------
// react is a bitch so we're importing fonts here like this
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i')
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300,400,600,700')

// defaults
// --------
$font-path: ""
$image-path: "../images/"

$base-ff: 'Open Sans', sans-serif
$mono-ff: 'Overpass Mono', monospace
// alternative font familly for tpl with 2 fonts (not counting monospace)
$alt-ff:  $mono-ff
// makes typography look better
$font-smoothing: false

// sizing
// ------
// $lh-scale is used in various typography calculations
$lh-scale: 1.3
$root-fs: 100%
// the $root-fs is set on <html>
// base-* is set on <body>
// 1rem = 16px when root-fs is 100%
// 0.9rem = 14px when root-fs is 100%
$base-fs: 0.9rem
$base-fw: normal
$base-lh: $lh-scale * 1.15rem

// We are using Different ratios for setting up typography
$golden-ratio:     1.618
$perfect-fifth:    1.5
$augmented-fourth: 1.414
$perfect-fourth:   1.333
$major-third:      1.25
$minor-third:      1.2
$major-second:     1.125
$minor-second:     1.067
// chosen type-scaling method
$fs-scale: $minor-third

// h1, h2, h3, h4, h5 sizing. check _typography.sass
$sm-fs: $base-fs / $fs-scale
$h4-fs: $base-fs * $fs-scale
$h3-fs: $h4-fs * $fs-scale
$h2-fs: $h3-fs * $fs-scale
$h1-fs: $h2-fs * $fs-scale

// colors
$base-color: $marine

// LAYOUT
$sidebar-w: 240px
$sidebar-bg: $pale
$boxpad:    30px

$col-left-bg: $navy
// UTILITIES
// ------------------------------------------------------
$debug-mode: false


// MEDIA QUERIES
// ------------------------------------------------------
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px) !default
$enable-hover-media-query: false



// TABLES
// ------------------------------------------------------
$table-cell-padding: .75rem !default


// CODE
// ------------------------------------------------------
$string-key-color:    $topaz
$string-value-color:  $orange
$number-value-color:  $rose
$code-comment-color:  $gray
$boolean-value-color: $rose

$string-key-color-alt:    $base-color
$string-value-color-alt:  $blue
$number-value-color-alt:  $rose
$code-comment-color-alt:  $gray
$boolean-value-color-alt: $rose
