
/* Gorgias API Docs - style
@import variables
@import mxn
@import normalize
@import util
// @import json-tree
// @import navigation

// RESET
ul
  // +highlight(.5)
  // +debug('*', pink)
  padding-left: 0

li
  list-style-type: none
  // only for navigation
  // line-height: 28px

p, ul
  margin-bottom: $boxpad

.main
  ul
    li
      margin-bottom: 6px
      > ul
        padding-left: $boxpad

// TYPOGRAPHY
// ------------------------------------------------
// Headings special exception
// on errors view you are using a span.code element within a heading
h1, h2, h3, h4, h5
  span.code
    font-size: inherit
    background-color: transparent!important

// setting margins
h1
  margin: $boxpad auto

h2, h3, h4, h5
  margin: 20px auto


.attributes
  // not sure why this div.class is needed
.tableCard
  // not sure why this div.class is needed


// TABLES
// ------------------------------------------------
.table
  // .table-striped this class is useless. in case you find it rename it to something else to avoid misleading with bs4
  // +highlight(.6)
  width: 100%
  thead
    // +highlight(.6)
    th
      border-top: 1px solid $gray-light
      border-bottom: 1px solid $gray-light
      padding-top: $table-cell-padding
      padding-bottom: $table-cell-padding
  tbody
    td
      border-bottom: 1px dashed $gray-light
      padding-top: $table-cell-padding
      padding-bottom: $table-cell-padding



span.required
  display: inline-block
  border-radius: 3px
  color: $orange
  font-family: $alt-ff
  font-size: $sm-fs
  line-height: 1rem
  padding: 1px 3px 1px 5px
  font-weight: 600
  text-transform: uppercase
  background-color: transparentize($orange, .76)



// BRAND
// ------------------------------------------------------
$brand-h: ($boxpad * 3)

a.brand
  display: block
  border-bottom: 2px solid $white
  padding: $boxpad 0 0 $boxpad
  +size($sidebar-w, $brand-h)
  +position(fixed, 0px, auto, auto, 0px)

svg#logo
  // for awesome svg compression use this tool :
  // https://jakearchibald.github.io/svgomg/
  +size(115px, 27px)


// LAYOUT
// ------------------------------------------------------
#root
  height: 100%
  > div
    +display-flex
    .navigation
      min-width: $sidebar-w
      background-color: $sidebar-bg

    .main
      flex-grow: 1
      // +debug('*', pink)

.navigation, .main
  height: 100vh
  position: relative

.navigation-wrap > div, .col
  padding: $boxpad

.navigation-wrap, .main
  overflow-y: auto

.navigation
  overflow: hidden

.navigation-wrap
  +position(absolute, $brand-h, 0, 0, 0)


// CODE
// ------------------------------------------------------
.col.right
  .code
    position: relative
    margin-left: - $boxpad/2
    margin-right: - $boxpad/2

.code
  &.light
    background-color: $pale
    color: $base-color

    // Alternative (light-theme) colors
    .string-key
      color: $string-key-color-alt
    .string-value
      color: $string-value-color-alt
    .number-value
      color: $number-value-color-alt
    .code-comment
      color: $code-comment-color-alt
    .boolean-value
      color: $boolean-value-color-alt

  &.inline
    padding: 2px 5px

  color: $pale
  background-color: $dark
  border-radius: 3px
  font-family: $mono-ff
  font-size: $sm-fs + 0.05
  &:not(.inline)
    line-height: 1.3rem
    padding: 20px $boxpad/2
    display: block
    margin-bottom: $boxpad

  a
    color: $gray
    text-decoration: underline
    &:hover
      color: $white

  // .json-tree
  //   .object
  //     // contains only a '{'
  //     span
  //       // setting it inline-block removes spaces
  //       // display: inline-block
  //     .content
  //       padding-left: $boxpad/2
  //       // is a basically row
  //       .field
  //         .string-key
  //         .string-value
  //         .number-value

  .content
    padding-left: $boxpad/2

// Default (dark-theme) colors
.string-key
  color: $string-key-color
.string-value
  color: $string-value-color
.number-value
  color: $number-value-color
.code-comment
  color: $code-comment-color
.boolean-value
  color: $boolean-value-color

// headings
strong.h-small
  display: block
  margin-bottom: 10px
  font-family: $alt-ff
  font-size: $sm-fs
  &.light
    color: $sky
    text-transform: uppercase
  &.dark
    color: transparentize($pale, .5)

  // , & .col
  //   padding: $boxpad


//
.row
  .col
    width: 50%
    &.left
      border-bottom: 1px solid $pale
    &.right
      background-color: $col-left-bg
      border-bottom: 1px solid transparentize($pale, .90)

.wrap
  +display-flex

.nav-menu
  line-height: 28px
  margin-bottom: $boxpad
  a
    text-decoration: none
    &:hover
      color: $marine
      text-decoration: underline
    &.active
      &:hover
        text-decoration: none
        cursor: default
      color: $blue
      font-weight: 600

  &.nested
    padding-left: $boxpad/2
    margin-bottom: floor($boxpad/4)
    font-size: $sm-fs + 0.05
    // resolves to 13px
    line-height: 26px



//



// #root is the app container
// #root
//   overflow: hidden
//   > div
//     // display: flex
//
// .navigation
//   // sidebar
// .main
//   // main-content
//
//
// /* Main
// .main
//   // +highlight(.5)
//   float: left
//   width: 85%
//   height: 100%
//   overflow: auto
//
// /* Grid
// .Grid
//   display: flex
//   flex-wrap: wrap
//   list-style: none
//   margin: 0
//   padding: 0
//
//
//   &-right
//     display: flex
//     width: 50%
//     background-color: $dark_grey_code
//
//
//   &-left
//     width: 50%
//     background-color: white
//
//   &-inside
//     padding: 40px
//     width: 100%
//
//   &-top
//     align-items: flex-start
//
//
// .left-background
//   position: absolute
//   right: 42.5%
//   z-index: -1
//   height: 100%
//   width: 42.5%
//   background-color: white
//
// .right-background
//   position: absolute
//   right: 0
//   z-index: -1
//   height: 100%
//   width: 42.5%
//   background-color: $dark_grey_code
//
// /* Columns
//
// .columnCenter
//   float: left
//
//   &, .columnCenter:before
//     width: 45%
//
//   &:before
//     content: ''
//     position: absolute
//     top: 0
//     bottom: 0
//     z-index: -1
//     left: 0%
//     background-color: white
//
// .columnRight
//   float: left
//   background-color: $dark_grey_code
//
//   &, .columnRight:before
//     width: 55%
//
//   &:before
//     content: ''
//     position: absolute
//     top: 0
//     bottom: 0
//     z-index: -1
//     left: 45%
//     background-color: $dark_grey_code
//
// .text-right
//   color: $light_grey_gorgias
//
// .code
//   font-size: 13px
//   font-family: $consolas
//   border-radius: 5px
//   background: $medium_grey_code
//   padding: 20px
//   color: #FFF
//
//   &.light
//     color: #000
//     background: $light_grey_gorgias
//
//   &.inline
//     display: inline
//     padding: 2px 4px
//
// .request
//   background: $light_grey_gorgias
//   color: $grey_text
//   padding: 15px
//
// .tableCard
//   /*background: $light_blue;
//    *margin-bottom: 10px
//    *padding: 5px 10px
//    *font-size: 12px
//
// /* Properties
//
// .required
//   display: inline-block
//   color: white
//   background: $blue_gorgias
//   margin: 0 0 0 5px
//   padding: 2px 10px
//   font-size: 10px
//   text-transform: uppercase
//   border-radius: 100px
//
//
//
// // _response.sass
//
// pre
//   padding: 20px 40px
//   margin: 5px
//   color: #d0d0d0
//   background: #272b2d
//
// .string
//   color: #d0d0d0
//
// .number
//   color: #77bcd7
//
// .boolean
//   color: #77bcd7
//
// .null
//   color: #ebde68
//
// .key
//   color: #c1ef65
