pre {
  padding: 20px 40px;
  margin: 5px;
  color: #d0d0d0;
  background: #272b2d; }

.string {
  color: #d0d0d0; }

.number {
  color: #77bcd7; }

.boolean {
  color: #77bcd7; }

.null {
  color: #ebde68; }

.key {
  color: #c1ef65; }
