/* Color Variables */
$grey_text: #444444;

$dark_blue_gorgias: #2453bf;
$middle_blue_gorgias: #3164d0;
$blue_gorgias: #478dff;
$light_grey_gorgias: #f7f7f7;
$grey_gorgias: #dbdada;

$dark_grey_code: #2d3134;
$medium_grey_code: #282b2c;
$medium_grey: #888;

$light_grey: #939da3;
$light_blue: #fafcfc;
$dark_blue: #0A202D;

/* Font Variables */
$source_sans_pro: 'Source Sans Pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$consolas: 'Consolas', "Liberation Mono", Menlo, Courier, monospace;